<div class="container">
    <!--<div class="row">
            <div class="col-xs-4">
                <ul class="list-unstyled">
                    <li><i class="fa fa-group"></i> Team<li>
                    <li><a href="/about">Meet the Team</a></li>
                    <li><a href="#">How We Work</a></li>
                    <li><a href="https://github.com/Copyleft-io" target="_blank">Source Code</a></li>
                </ul>
            </div>
            <div class="col-xs-4">
                <ul class="list-unstyled">
                    <li><i class="fa fa-archive"></i> Projects<li>
                    <li><a href="#">Basestation</a></li>
                    <li><a href="/cloud">Cloud</a></li>
                    <li><a href="https://github.com/Copyleft-io/starterlog-theme" target="_blank">Starterlog</a></li>
                </ul>
            </div>
            <div class="col-xs-4">
                <ul class="list-unstyled">
                    <li><i class="fa fa-cogs"></i> Services<li>
                    <li><a href="#">Consulting</a></li>
                    <li><a href="#">Development</a></li>
                    <li><a href="#">Presentations</a></li>
                </ul>
            </div>
    </div>-->
    <!-- /.row -->

    <hr>
    <div class="row">
        <div class="col-xs-7">
          <p class="text-muted pull-left"><a href="https://github.com/gadgetry-io/starterlog-theme" target="_blank">Starter Log Theme</a> by <a href="http://gadgetry.io" target="_blank"> Gadgetry.io</a>
            <br><a href="https://opensource.org/licenses/MPL-2.0" target="_blank">Mozilla Public License 2.0</a>
          </p>
        </div>
        <div class="col-xs-5">
            <p class="text-muted pull-right"> Handcrafted by Practitioners</p>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
